.lift {
  box-shadow: 0 0.15rem 1.75rem 0 rgba(31, 45, 65, 0.15);
  transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.lift:hover {
  transform: translateY(-0.3333333333rem);
  box-shadow: 0 0.5rem 2rem 0 rgba(31, 45, 65, 0.25);
}

.card.lift {
  text-decoration: none;
  color: inherit;
}
