<section id="about">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-md-6 col-sm-12" data-aos="fade-right">
        <h2 class="mb-5">Об авторе</h2> 
        
        <p>
          Рэй Далио родился и вырос в семье среднего достатка на Лонг-Айленде. В 26 лет основал инвестиционную компанию Bridgewater Associates с первым офисом в одной из комнат своей съемной квартиры. В течение следующих 42 лет он превратил Bridgewater Associates в пятую самую важную частную компанию в США (по версии Fortune). Ему удалось это благодаря созданию уникальной корпоративной культуры — внедрению меритократии идей, основанной на абсолютной честности, предельной прозрачности и принципе принятия решений с учетом компетентности. Рэй Далио убежден, что большинство людей и компаний могут воспользоваться его принципами для достижения собственных целей.
        </p>

        <p>
          Рэй Далио написал эту книгу в 68 лет, его главной целью было поделиться своими принципами в надежде, что другие сочтут их ценными.
        </p>
      </div>
      <div class="col-md-6 col-sm-12 pb-4 h-100 text-center" data-aos="fade" data-aos-delay="100">
        <img id="aboutImage" src="assets/img/author.jpg" alt="Рэй Далио">
      </div>
    </div>
  </div>
</section>