<div class="footer">
  <div>
    @@include('../components/wave.html')
  </div>
  
  <footer class="container"> 
    <div class="row">
      <div class="col-md-4">
        <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
        <script src="//yastatic.net/share2/share.js"></script>
        
        <p class="col-heading">Поделиться</p>
        <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,gplus,twitter" data-counter=""></div>
      </div>

      <div class="col-md-4">
        <ul class="footer-menu">
          <li class="col-heading">Разделы</li>
          <li><a href="#about">О нас</a></li>
          <li><a href="#service">Услуги</a></li> 
          <li><a href="#object">Oбъекты</a></li>  
          <li><a href="#reviews">Отзывы</a></li>  
          <li><a href="#request">Оставить заявку</a></li>             
        </ul>
      </div>

      <div class="col-md-4">
        <ul class="footer-menu">
          <li class="col-heading">Контанты</li>
          <li>
            <span> 
              <svg width="1em" height="1em">
                <use xlink:href="#svg-mail" x="0" y="0" fill="currentColor"></use>
              </svg>
            </span>
            <a href="mailto:nedra36rus@mail.ru">nedra36rus@mail.ru</a>
          </li>
          <li>
            <span> 
              <svg width="1em" height="1em">
                <use xlink:href="#svg-phone" x="0" y="0" fill="currentColor"></use>
              </svg>
            </span>
            <a href="tel:+79204226422">+7 (920) 422-64-22</a>
          </li>
          <li>
            <span> 
              <svg width="1em" height="1em">
                <use xlink:href="#svg-phone" x="0" y="0" fill="currentColor"></use>
              </svg>
            </span>
            <a href="tel:2297171">229-71-71</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</div>