<!-- Navigation -->
<nav id="navbar-top" class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">ИП Скворцов</a>
  
  <button class="navbar-toggler" 
          type="button" 
          data-toggle="collapse" 
          data-target="#navbarMain" 
          aria-controls="navbarMain" 
          aria-expanded="false" 
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarMain">
    <ul class="navbar-nav nav-pills mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#about">О нас</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#service">Услуги</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#object">Oбъекты</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#reviews">Отзывы</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#request">Оставить заявку</a>
      </li>
    </ul>

    <span class="navbar-text">
      +7 (920) 422-64-22
    </span>
  </div>
</nav>