<section id="object">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center mb-5" >
        <h2>Фотографии объектов</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-12 mb-5 d-flex align-items-stretch" data-aos="fade-up">
        <div class="card lift mx-auto">
          <img class="card-img-top" src="assets/img/gallery_1.thumb.jpg" alt="Card image cap">
        </div>
      </div>

      <div class="col-lg-4 col-md-12 mb-5 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="card lift mx-auto">
          <img class="card-img-top" src="assets/img/gallery_2.thumb.jpg" alt="Card image cap">
        </div>
      </div>

      <div class="col-lg-4 col-md-12 mb-5 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="150">
        <div class="card lift mx-auto">
          <img class="card-img-top" src="assets/img/gallery_3.thumb.jpg" alt="Card image cap">
        </div>        
      </div>

    </div>

  </div>
</section>