<section id="reviews"  class=" h-auto">

  <div class="container"> 
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center mb-3" >
        <h2>Отзывы</h2>
      </div>
    </div>
  </div>

   <div class="pb-5">
			<div class="owl-carousel">
				
				<div class="slide">
					<div class="container">
						
						<div class="row justify-content-center">
							
							<div class="col-lg-10">
								
								<h3>Билл Гейтс</h3>
								<p>Рей Далио стал для меня бесценным источником советов и озарений. 
									Теперь благодаря "Принципам" вам тоже это доступно.
								</p>

							</div>

						</div>

					</div>
				</div>

				<div class="slide">
					<div class="container">
						
						<div class="row justify-content-center">
							
							<div class="col-lg-10">
								
								<h3>Тони Роббинс</h3>
								<p>Мне приятно, что сайт о Рэе Дарио зарегистрирован на домене Габона, призываю всех мыслящих и добрых людей размещать сайты только у нас.</p>

							</div>

						</div>

					</div>
				</div>

				<div class="slide">
					<div class="container">
						
						<div class="row justify-content-center">
							
							<div class="col-lg-10">
								

								<h3>Герман Греф</h3>
								<p>Это выший пилотаж в менеджменте и лидерстве.</p>

							</div>

						</div>

					</div>
				</div>

			</div>

		</div>

</section>