<section id="service" class="h-auto">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center mb-5" >
        <h2>В результате нашей работы, Вы получите скважину с чистейшей водой</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 mb-5 d-flex align-items-stretch" data-aos="fade-up">
        <div class="card lift text-center">
          <div class="card-body py-5">
            <h3>Бурение скважин в Воронежской области</h3>
            <p class="card-text small text-left">
              Мы готовы создать на Вашем участке в Воронежской области прекрасный и надёжный источник свежей воды глубиной до 120 м.
              В Вашем распоряжении будут долговечное оборудование и качественная свежая вода круглый год!
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-5 d-flex align-items-stretch" data-aos="fade-up">
        <div class="card lift">
          <div class="card-body py-5 text-center">
            <h3>Паспорт на скважину</h3>
            <div class="card-text small text-left">
              <ul>
                <li>
                  <span> 
                    <svg width="1em" height="1em">
                      <use xlink:href="#svg-check" x="0" y="0" fill="currentColor"></use>
                    </svg>
                  </span>
                  Содержит все параметры и характеристики скважины</li>
                <li>
                  <span> 
                    <svg width="1em" height="1em">
                      <use xlink:href="#svg-check" x="0" y="0" fill="currentColor"></use>
                    </svg>
                  </span>
                  Необходим для подбора и установки насоса</li>
                <li>
                  <span> 
                    <svg width="1em" height="1em">
                      <use xlink:href="#svg-check" x="0" y="0" fill="currentColor"></use>
                    </svg>
                  </span>
                  Облегчает задачу обслуживания: чистки и ремонта скважины в далеком будущем</li>
                <li>
                  <span> 
                    <svg width="1em" height="1em">
                      <use xlink:href="#svg-check" x="0" y="0" fill="currentColor"></use>
                    </svg>
                  </span>
                  Полезен при продаже участка</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-5 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="150">
        <div class="card lift text-center">
          <div class="card-body py-5">
            <h3>Стоимость бурения скважины</h3>
            <div class="card-text small text-left">
              <p>От <b>1500 руб/метр</b> в стоимость входит:</p>
              <ul>
                <li>
                  <span> 
                    <svg width="1em" height="1em">
                      <use xlink:href="#svg-check" x="0" y="0" fill="currentColor"></use>
                    </svg>
                  </span>
                  Выезд,дорога,топливо,расходные материалы (трубы пластиковые, железные, асбестоцементные)</li>
                  <li>
                    <span> 
                      <svg width="1em" height="1em">
                        <use xlink:href="#svg-check" x="0" y="0" fill="currentColor"></use>
                      </svg>
                    </span>
                    Бурение машиной</li>
                    <li>
                      <span> 
                        <svg width="1em" height="1em">
                          <use xlink:href="#svg-check" x="0" y="0" fill="currentColor"></use>
                        </svg>
                      </span>
                      Обсадка трубой (пищевой пластик от 125 мм до 320 мм)</li>
                      <li>
                        <span> 
                          <svg width="1em" height="1em">
                            <use xlink:href="#svg-check" x="0" y="0" fill="currentColor"></use>
                          </svg>
                        </span>
                        Гарантия и документы на скважину</li>
              </ul>
            </div>
          </div>
        </div>        
      </div>

      <div class="col-lg-4 col-md-6 mb-5 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="150">
        <div class="card lift text-center">
          <div class="card-body py-5">
            <h3>Гарантия</h3>
            <p class="card-text small text-left">
              Предоставляем гарантию на работы и материалы до 5 лет! Осуществляя бурение скважин под воду в Воронеже и области более 10 лет.
            </p>
          </div>
        </div>        
      </div>

      <div class="col-lg-4 col-md-6 mb-5 d-flex align-items-stretch" data-aos="fade-up">
        <div class="card lift text-center">
          <div class="card-body py-5">
            <h3>Бесплатная консультация и выезд специалиста</h3>
            <p class="card-text small text-left">
              Мы оцениваем примерную глубину скважины под воду и озвучиваем стоимость бурения.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-5 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="card lift text-center">
          <div class="card-body py-5">
            <h3>Индивидуальная система водоснабжения</h3>
            <p class="card-text small text-left">
              Установка насосного оборудования и обустройства скважины.
            </p>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>